.taskBg {
  background-attachment: fixed;
  border-radius: 6px;
  margin-bottom: 3px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: red;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center ;
}

.taskBg .taskText {
  flex: 1;
}
